
.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-title{
    font-size: 28px;  
}
.nav-download{
    border-radius: 8px;
    padding: 17px 24px 17px 24px;
    font-size: 20px;
    font-weight: 600px;
    border-radius: 8px;
    color: rgb(13, 19, 33);
}
.banner{
    text-align: center;
    /* margin: 35px 220px; */
}
/* .image{
    width: 240px;
    height: 240px;
} */
.banner-headding{
    font-size: 48px;
}
.banner-pera{
    font-size: 16px;
}
.btn-primary{
    background-color: rgba(13, 19, 33, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 21px 24px 21px 24px;;
}
/* Hero-bg */
.hero-bg{
    background: url('../assets/Hero-bg.png');
    /* position: absolute;
    width: 1440px;
    height: 652px;
    left: 0;
    right: 0;
    top: 131px;
    bottom: 4462px; */
}
/* shared-styles */
.section-title{
    font-size: 32px;
    text-align: center;
    
}
.section-description{
    font-size: 16px;
    text-align: center;
    
}
section{
    max-width: 946px;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;

}
main section{
    margin-top: 80px;
    margin-bottom: 97px;
}

/* why web */


.div-1, .div-2, .div-3{
    display: flex;
    margin: 48px 48px 48px 48px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.content-title{
    font-size: 24px;
    font-weight: bold;
    color: rgba(13, 19, 33, 0.7);
}
.content-des{
    font-size: 16px;
    color: rgba(13, 19, 33, 1);
}
.bg{
    font-size: 20px;
    padding: 12px 20px 12px 20px;
    font-family: "Azeret Mono";
}
.why-use-web{
    gap: 32px;
}
/* inspiration */
.inspiration-content{
    text-align: center;
}
/* video */
.video{
    margin-top: 48px;
    padding: 32px;
    border-radius: 16px;
    /* color: rgba(13, 19, 33, 0.2);
    border: 2px; */
}
.video-related{
    margin-top: 88px;
    margin-bottom: 150px;
}
/* skills */
.skill-items{
    display: flex;
    gap: 24px;
    margin-top: 48px;
}
.skill-item{
    max-width: 364px;
    /* height: 300px; */
    padding: 40px;
}
/* .skill-des{
    color: rgb(13, 19, 33);
} */
 .anc{
    color: rgb(13, 19, 33);
 }
 .backcolor1{
    background-color: rgba(255, 76, 30, 0.05);
 }
 .backcolor2{
   background-color: rgba(0, 76, 232, 0.05);
 }
 .backcolor3{
    background-color: rgba(255, 223, 0, 0.05);
 }